/*categoria-titulo */

.principal-categoria-tazas {

    display: flex;
    justify-content: space-between;
    margin: 0 9rem 5rem;
    width: 80%;
}

.principal-categoria-tazas__titulo {

    color: #464646;
    font-size: 2.5rem;
    font-weight: var(--negrita);
}

.principal-categoria-tazas__enlace {

    background: url(../../../img/vector-icono.png) no-repeat right top;
    background-size: 12%;
    color: var(--color);
    text-align: left;
    text-decoration: none;
    font-weight: var(--negrita);
    width: 10%;
}

/*principal-tazas */

.principal-tazas {

    display: flex;
    margin-bottom: 14rem;
    margin: 0 7rem 14rem;
}

.principal-tazas__divisor-tarjeta {

    margin: 0 1rem;
    width: 100%;
}

.principal-tazas__divisor-tarjeta__imagen {

    height: 150px;
    width: 100%;
}
.principal-tazas__divisor-tarjeta__titulo {

    color: #464646;
    font-size: 1.2rem;
    padding: .6rem 0;
}

.principal-tazas__divisor-tarjeta__precio {

    font-size: 1.175rem;
    font-weight: var(--negrita);
    padding: .8rem 0;
}

.principal-tazas__divisor-tarjeta__enlace {

    color: var(--color);
    font-weight: var(--negrita);
    text-decoration: none;
}

/*RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width:0px) and (max-width: 767px) {

    .principal-categoria-tazas {

        align-items: center;
        margin: 0 2.5rem 5rem;
    }

    .principal-categoria-tazas__enlace {

        background: none;
        width: 25%;
    }

    .principal-tazas {

        flex-wrap: wrap;
        justify-content: center;
        margin: 0 1.5rem;
    }
    .principal-tazas__divisor-tarjeta {

        margin-bottom: 6rem;
        width: 36%;
    }
    .principal-tazas__divisor-tarjeta__titulo {

        font-size: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px){

    .principal-categoria-tazas {

        margin: 0 6rem 5rem;
    }

    .principal-categoria-tazas__enlace {

        width: 15%;
    }

    .principal-tazas {

        flex-wrap: wrap;
    }
    .principal-tazas__divisor-tarjeta {

        margin-bottom: 4rem;
        width: 27%;
    }
    .principal-tazas__divisor-tarjeta__titulo {

        font-size: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) and (max-width: 1200px){

    .principal-tazas {

        flex-wrap: wrap;
        margin-bottom: 6rem;
    }
    .principal-tazas__divisor-tarjeta {

        margin-bottom: 6rem;
        width: 20%;
    }
    .principal-tazas__divisor-tarjeta__titulo {

        font-size: 1.2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {


}*/