.formulario-agregar-producto {

    margin-bottom: 10rem;
    margin-top: -60px;
    width: 100%;
}

.formulario-agregar-producto__contenido {

    margin: 0 25%;
    width: 70%;
}

.formulario-agregar-producto__contenido__titulo {

    font-size: 1.5rem;
    font-weight: var(--negrita);
    padding-bottom: 1.5rem;
}

.formulario-agregar-producto__contenido__input-archivo-arastrable {

    align-items: center;
    display: flex;
}

.formulario-agregar-producto__contenido__input-archivo-arastrable__drop {

    background: url(../../img/image-icon.svg) no-repeat 50% 16%;
    background-color: whitesmoke;
    background-size: 3rem 3rem;
    border: 4px dashed rgb(197, 197, 197);
    height: 0vh;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 5rem 1.6rem;
    text-align: center;
    width: 30%;
}

.formulario-agregar-producto__contenido__input-archivo-arastrable__texto {

    display: none;
}

.formulario-agregar-producto__contenido__nombre {

    background-color: rgb(223, 220, 220);
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 4px;
    display: block;
    height: 7vh;
    outline: none;
    margin-bottom: 1.3rem;
    padding: 1rem 1rem;
    resize: none;
    width: 60%;
}

.formulario-agregar-producto__contenido__nombre-area {

    height: 9vh;
}

.formulario-agregar-producto__contenido__boton {

    background-color: var(--color);
    border: none;
    color: white;
    font-weight: var(--negrita);
    outline: none;
    padding: 1rem;
    width: 63%;
}

.formulario-agregar-producto__contenido__span {

    color: red;
    display: none;
}

/*RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width:0px) and (max-width: 767px) {

    .menu-navegacion {

        margin: 2rem 1rem 8rem;
    }

    .menu-navegacion__contenedor {

        width: 63%;
    }

    .menu-navegacion__contenedor__imagen {

        width: 80%;
    }

    .menu-navegacion__boton {

        font-size: .8rem;
        padding: 1.5rem 0.8rem;
        width: 26%;
    }

    .formulario-agregar-producto__contenido {

        margin: 0 5%;
        width: 95%;
    }

    .formulario-agregar-producto__contenido__nombre {

       width: 81%; 
    }

    .formulario-agregar-producto__contenido__boton {

        width: 89%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px){

    .menu-navegacion {

        margin: 2rem 4rem 8rem;
    }

    .menu-navegacion__contenedor {

        width: 82%;
    }

    .menu-navegacion__boton {

        padding: 1.5rem 0.8rem;
        width: 26%;
    }
} 

